{% load crispy_forms_tags %} 
{% load static%}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOL-FA</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mainstyle.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/c4e0f4710c.js" crossorigin="anonymous"></script>
    <style>
        input {
            text-transform: uppercase;
        }

        form select {
            max-width: 320px;
        }

        /* CONTACT US */
        .contact-container-wrapper {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
        }

        .form2-container {
            width: 48%;
            background-color: #ffffff;
            padding: 50px;
            border-radius: 50px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        }

        .contact-map-container {
            width: 48%;
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
        }

        .contact-details {
            margin-top: 20px;
        }

        .contact-details h2 {
            margin-top: 0;
            font-family: Arial, sans-serif;
        }

        .contact-details p {
            margin: 5px 0;
        }

        iframe {
            border-radius: 8px;
            width: 100%;
            margin-bottom: 20px;
        }

        /* Make the layout responsive */
        @media (max-width: 768px) {
            .form2-container,
            .contact-map-container {
                width: 100%;
            }
        }
        
        /* Adding margin-bottom to the book section */
        #book {
        margin-bottom: 50px; /* Adjust this value as needed */
        }

        /* Adding margin-top to the contact section */
        #contact {
        margin-top: 50px; /* Adjust this value as needed */
        }
        
    </style>
    

    
</head>


<body style="overflow-y:scroll;overflow-x:hidden;">

    <!-- create navigation bar  -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="navbarNav">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand logo" href="#"><span style="color: orange;"> Sol-Fa </span>Parker</a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto"> <!-- Spacing other items -->
               
                <li class="nav-item">
                    <a class="nav-link" href="#intro"> HOME  </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="#target-anchor-about">   ABOUT US </a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="#target-anchor-book">  BOOK  NOW </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#contact"> CONTACT US  </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="home/billing_info"> BILLING </a>
                </li>
                
                
            </ul>
            <ul class="navbar-nav ms-auto"> <!-- Move LOGOUT to the far right -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}" style="color: orange;"> LOGOUT </a>
                </li>
            </ul>
        </div>
    </div>
   </nav>

    <section id="intro" class="jumbotron jumbotron-fluid bg-dark text-light">
        <div class="container">
            <div class="row justify-content-center">

                <div class="col-md-6 order-md-2  title">
                    <h1 class="display-4">Sol-Fa Park System</h1>
                    <p class="lead">Smart Parking sensing technology is leading the way in delivery of proven, fully integrated , end-to-end solutions, resulting in a transformation of the complete parking experience</p>
                    <a href="#target-anchor-book"> <button class="btn btn-md booking-btn btn-orange">  Book now </button></a>
                </div>
            </div>

        </div>
    </section>
    <a id="target-anchor-about"></a>
    <section id="about" data-spy="scroll" data-target="#navbarNav" data-offset="60">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 about">
                    <h2>About Us</h2>
                    <p>Our Sol-Fa Parker system is a versatile and fully integrated solution that combines parking management, guidance, payment processing, and advanced analytics.
                        Alongside these core features, it offers a range of complementary services and customizable options. 
                        This seamless integration makes Sol-Fa Parker more than just the sum of its parts, positioning it as a leader in technology and innovation within the parking industry. 
                        Proudly serving Nairobi, our system is designed to meet the growing demand for smart, efficient, and sustainable parking solutions in one of Africa's most vibrant cities. 
                    
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </section>
    <a id="target-anchor-book"></a>
    
    <section id="book">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Book Your Parking Spot</h2>
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color:green;list-style:none">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="POST">
                        <div class="form-group">
                            {% csrf_token %} {{ vehicle_form| crispy}}
                        </div>
                        <button type="submit" class="btn btn-orange btn-submit"> Book </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <div  id="contact" class="contact-container-wrapper">
        <!-- Left side: Form -->
        <div class="form2-container">
            <h2>Text Us</h2>
            <form action="">
                <div class="form2-group">
                    <label for="name">Full Name <i class="fa-solid fa-pen-to-square"></i></label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="form2-group">
                    <label for="message">Message <i class="fa-solid fa-envelope"></i></label>
                    <input type="text" id="message" name="message" required>
                </div>

                <div class="form2-group">
                    <button type="submit"><strong>Send</strong> <i class="fa-solid fa-paper-plane"></i></button>
                </div>
            </form>

            <div class="note">Thank you for contacting us.</div>
        </div>

        <!-- Right side: Google Map -->
        <div class="contact-map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.815662098042!2d36.75777607414953!3d-1.28453703562249!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f1a21fff721c1%3A0x2c15dc9d76954c58!2sHoly%20Cross%20Catholic%20International%20School%2C%20Nairobi%20Kenya!5e0!3m2!1sen!2ske!4v1729070730579!5m2!1sen!2ske" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    
    
    
    <footer class="bg-dark text-light">
      <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact Us</h3>
                <p>     Otiende Market, LA 
                    <br>Nairobi City, 00200
                    <br>Phone: +254759194307 
                    <br>Email: mogambibenson2@gmail.com
                </p>
            </div>
            <div class="col-md-4">
                <h3>Follow Us</h3>
                <ul class="list-unstyled">
                    <li class="X">
                        <a href="https://x.com/SolfaTech" class="socials" target="_blank"><i class="fa-brands fa-x"></i> X account</a>
                    </li>
                    <li class="linkedin">
                        <a href="https://www.linkedin.com/in/benson-mogambi-a5b201213/" class="socials" target="_blank"><i class="fa-brands fa-linkedin"></i> LinkedIn</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Bottom Centered Copyright Text -->
        <div class="row">
            <div class="col-12 text-center mt-3">
                <p>&copy; 2024 Sol-Fa Parker System. All rights reserved.</p>
            </div>
        </div>
      </div>
    </footer>

    
    
    <script>
        /* JavaScript code to make the navbar collapsible on smaller screens */
        $('.navbar-toggler').on('click', function() {
            $('.navbar-collapse').collapse('toggle');
        });
        window.onload = function() {
            var id = window.location.search.substring(1); // get the id from the URL parameter
            var element = document.getElementById(id);
            if (element) {
                element.scrollIntoView(); // scroll to the element
            }
        };

        document.addEventListener("DOMContentLoaded", function() {
            // Get the height of your navigation bar
            const navbarHeight = document.querySelector("nav").offsetHeight;

            // Adjust scroll position when a link is clicked
            document.querySelectorAll('a[href^="#"]').forEach(anchor => {
                anchor.addEventListener('click', function(e) {
                    e.preventDefault();
                    const target = document.querySelector(this.getAttribute('href'));
                    const targetPosition = target.getBoundingClientRect().top + window.scrollY;
                    window.scrollTo({
                        top: targetPosition - navbarHeight, // Adjusted scroll position
                        behavior: 'smooth'
                    });
                });
            });
        });
    </script>

</body>

</html>



